*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

/.idea/
/project/boot/
/project/plugins/project
target/
test-output/
lib_managed/
src_managed/
test-output/
*.iml
/*/.cache
/*/.classpath
/*/.project
/*/.settings
